body {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

.decoder {
  margin-bottom: 1em;
}

.group {
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: 8fr 1fr;
}

.compare-group {
  width: fit-content;
  margin-block: 0.3em;
  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: 1fr 1fr;
}

input {
  width: 100%;
  padding: 0.4em;
  font: inherit;
  border: 0.2em solid currentColor;
}

button {
  border: 0.2em solid currentColor;
  font: inherit;
  background: lightgrey;
  cursor: pointer;
}

button.active {
  background: white;
  font-weight: bold;
}

.error {
  margin: 1em;
  padding: 1em;
  font-weight: bold;
  border: 0.2em solid currentColor;
  color: black;
  background: pink;
}

.decoderList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80ch, 1fr));
  grid-gap: 1em;
}
